<app-header></app-header>
<section>
    <h2>About Me</h2>
    <p>Master’s in Computer Engineering with AI & ML focus at Purdue University. Passionate about software, AI, and networking.</p>
</section>
<section>
    <h2>Research</h2>
    <p>Secure Air-gapped LLM Inference, RSA Ring Signatures</p>
    <ul>
        <li>Created a custom LLM Inference methodology for securely processing sensitive user information efficiently</li>
        <li>Implemented AES-256, SHA-1, and ECC for securing data and validating digital sender and receiver credentials</li>
        <li>Engineered a TCP algorithm for data transmission with data loss resilience, high latency resistance, and low overhead</li>
        <li>Conducted security validation against many attack vectors, ensuring robust data protection and user confidentiality</li>
    </ul>
</section>
